*
{
  box-sizing: border-box;
}

body
{
  margin: 0;
  padding: 0;
  font-family: 'Livvic', sans-serif;
}

.container
{
  max-width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

header
{
  background-color: #014E56;
  position: relative;
  overflow: hidden;
}

.site-navbar
{
  padding-bottom: 5px;
}

.navbar__logo img
{
  display: block;
}

.site-navbar
{
  display: flex;
  align-items: center;
  padding-top: 73px;
  justify-content: space-between;
}

.navbar__logo
{
  display: flex;
}

.navbar__logo ul
{
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: 60px;
}

.navbar__logo ul li
{
  margin-right: 40px;
}

.navbar__logo ul li a
{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar__logo ul li a:hover
{
  color: #F67E7E;
}

.navbar__link
{
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  background: #014E56;
  padding: 5px 25px;
  transition: all 0.4s ease;
  text-decoration: none;
}

.navbar__link:hover
{
  cursor: pointer;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 24px;
  color: #002529;
  transform: scale(1.1);
}

.navbar__link:active
{
  transform: scale(1);
}

.navbar__responsive-button
{
  border: none;
  border-radius: 5px;
  background-color: transparent;
  display: none;
  transition: all 0.4s ease;
}

.navbar__responsive-button img
{
  display: block;
}

@media (max-width:600px)
{
  .navbar__logo ul
  {
    display: none;
  }

  .navbar__link
  {
    display: none;
  }

  .navbar__responsive-button
  {
    display: block;
  }
}
/* ============================== */

.box
{
  margin: 140px 0;
  display: flex;
  justify-content: space-between;
}

.box-left h1
{
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
  color: #FFFFFF;
  margin: 0;
}

.box-left span
{
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #F67E7E;
  margin-top: 16px;
}

.box-left ul
{
  padding-left: 0;
  list-style-type: none;
  margin-top: 50px;
}

.box-left ul li
{
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.box-left ul li h6
{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin: 0;
  margin-left: 23px;
}

.box-right form
{
  margin-top: 20px;
  width: 500px;
}

.box-right form input,textarea
{
  display: block;
  width: 500px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgb(255, 255, 255);
  outline: none;
  margin: 10px 0;
}

.box-right form label
{
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.box-right form textarea
{
  resize: none;
}

.button {
  background-color: rgb(67, 72, 70);
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
  transform: scale(1.2);
}

.button:active
{
  transform: scale(1);
}

.button span {
  position: absolute;
  display: block;
}

.button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.img1
{
  position: absolute;
  left: 0;
  top: 260px;
}

.img2
{
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width:1100px)
{
  .img1
  {
    display: none;
  }
}

@media (max-width:950px)
{
  .box
  {
    display: block;
    margin-top: 30px;
  }

  .box-left
  {
    width: auto;
    text-align: center;
  }

  .box-left ul li
  {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .box-right form
  {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width:550px)
{

  .box{
    justify-content: space-around;
  }

  .box-left
  {
    width: auto;
  }

  .box-left h1
  {
    font-size: 40px;
    line-height: 40px;
  }

  .box-left ul li
  {
    width: auto;
  }

  .box-left ul li h6
  {
    margin-left: 5px;
  }

  .box-right form
  {
    margin-left: auto;
    margin-right: auto;
  }

  .box-right form input,textarea
  {
    width: 375px;
    padding-left: 0;
  }
}

@media (max-width:400px)
{
  .box-right form input,textarea
  {
    width: 280px;
  }
}

/* ========================================================== */

footer
{
  background-color: #002529;
}

.box-5
{
  padding: 48px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box-5__left a img
{
  margin-bottom: 25px;
}

.box-5__left ul
{
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.box-5__left ul li
{
  margin-right: 40px;
}

.box-5__left ul li a
{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.3s  ease;
}

.box-5__left ul li a:hover
{
  color: #F67E7E;
}


.box-5__middle span
{
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.box-5__middle
{
  margin-left: 130px;
}

.div1
{
  display: flex;
}

.box-5__right
{
  text-align: end;
}

.box-5__right ul
{
  display: flex;
  list-style-type: none;
  align-items: center;
  padding-left: 0;
  margin: 0;
  margin-left: 150px;
  margin-bottom: 50px;
}

.box-5__right ul li
{
  padding-left: 16px;
}

.facebook:hover
{
  fill: blue;
}

.pinterest:hover
{
  fill: rgb(134, 189, 5);
}

.twitter:hover
{
  fill: rgb(4, 0, 245);
}

.box-5__right span
{
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

@media (max-width:809px)
{
  .div1
  {
    width: 809px;
    display: flex;
    justify-content: space-between;
    margin-right: 0;
  }

  .box-5__right
  {
    display: flex;
    margin-top: 30px;
    width: 809px;
    justify-content: space-between;
  }

  .box-5__right ul
  {
    margin-left: 0;
  }

  .box-5__middle
  {
    margin-left: 0;
    text-align: right;
    margin-right: 0;
  }
}

@media (max-width:451px)
{
  .box-5
  {
    text-align: center;
  }

  .box-5__left
  {
    display: block;
  }

  .box-5__left ul li
  {
    margin-left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .box-5__middle
  {
    margin-top: 20px;
    text-align: center;
  }

  .box-5__right
  {
    display: block;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .box-5__right ul
  {
    margin-bottom: 20px;
  }

  .box-5__right ul li
  {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }

  .div1
  {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}