*
{
  box-sizing: border-box;
}

body
{
  margin: 0;
  padding: 0;
  font-family: 'Livvic', sans-serif;
}

.container
{
  max-width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

header
{
  background-color: #014E56;
  position: relative;
  overflow: hidden;
}

.site-navbar
{
  padding-bottom: 5px;
}

.navbar__logo img
{
  display: block;
}

.site-navbar
{
  display: flex;
  align-items: center;
  padding-top: 73px;
  justify-content: space-between;
}

.navbar__logo
{
  display: flex;
}

.navbar__logo ul
{
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: 60px;
}

.navbar__logo ul li
{
  margin-right: 40px;
}

.navbar__logo ul li a
{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar__logo ul li a:hover
{
  color: #F67E7E;
}

.navbar__link
{
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  background: #014E56;
  padding: 5px 25px;
  transition: all 0.4s ease;
  text-decoration: none;
}

.navbar__link:hover
{
  cursor: pointer;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 24px;
  color: #002529;
  transform: scale(1.1);
}

.navbar__link:active
{
  transform: scale(1);
}

.navbar__responsive-button
{
  border: none;
  border-radius: 5px;
  background-color: transparent;
  display: none;
  transition: all 0.4s ease;
}

.navbar__responsive-button img
{
  display: block;
}

@media (max-width:600px)
{
  .navbar__logo ul
  {
    display: none;
  }

  .navbar__link
  {
    display: none;
  }

  .navbar__responsive-button
  {
    display: block;
  }
}
/* ====================================== */

.box
{
  display: flex;
  margin-top: 130px;
  padding-bottom: 140px;
  justify-content: space-between;
}

.box h1
{
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
  color: #FFFFFF;
  margin: 0;
}

.box p
{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  width: 700px;
  margin: 0;
}

.box p::before
{
  content:"";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
  margin-bottom:40px;
}

.img1
{
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width:940px)
{
  .box
  {
    display: block;
    text-align: center;
    padding-bottom: 200px;
  }

  .box p
  {
    width: auto;
  }

  .box p::before
  {
    display: none;
  }
}

@media (max-width:374px)
{
  .box
  {
    margin-top: 80px;
    padding-bottom: 100px;
  }

  .box h1
  {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .box p
  {
    font-size: 15px;
    line-height: 28px;
  }

  .img1
  {
    bottom: -100px;
  }
}
/* ==================================================== */


.section-1
{
  background-color:#004047;
  padding: 140px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.box-2 h2
{
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  width: auto;
}

.box-2 ul
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin-top: 70px;
}

.box-2 ul li
{
  width: 320px;
  height: 270px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.box-2 ul li .card-1
{
  width: 320px;
  height: 250px;
  background-color: #012F34;
  position: absolute;
  top: 0;
}


.box-2 ul li .card-1 img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.box-2 ul li .card-1 b
{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
}

.box-2 ul li .card-1 h6
{
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

.box-2 ul li .card-1 span
{
  width: 40px;
  height: 40px;
  background: #F67E7E;
  border-radius: 50%;
  display: flex;
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(30px);
  position: relative;
  z-index: 2;
  transition: all 1s ease;
}

.box-2 ul li .card-2
{
  width: 320px;
  height: 250px;
  background-color:   #002529;
  position: absolute;
  top: -250px;
  transform: rotate(180deg);
  transition: all 1s ease;
  padding-top: 35px;
}

.box-2 ul li .card-2 b
{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
}

.box-2 ul li .card-2 p
{
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.box-2 ul li .card-2 .icons a
{
  padding: 5px;
  margin: 2px;
}

.twitter:hover
{
  fill: rgb(4, 0, 255);
  transition: all 0.5s ease;
}

.linkedin:hover
{
  fill:#F67E7E;
  transition: all 0.5s ease;
}

.box-2 ul li:hover .card-2
{
  transform: rotate(360deg);
  top: 0px;
}

.box-2 ul li:hover .card-1 span
{
  transform: translateY(30px) rotate(45deg);
  background-color:  #79C8C7;
}

.bgr2
{
  position: absolute;
  top: 0;
  left: 0;
}

.bgr3
{
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width:700px)
{
  .box-2 h2
  {
    font-size: 32px;
    line-height: 32px;
  }

  .box-2 ul li
  {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width:420px)
{
  .container
  {
    width: auto;
    padding: 0;
  }

  .box-2
  {
    transform: scale(0.8);
  }

  .section-1
  {
    padding: 20px 0px 1px 0px;
  }

  .box-2 ul li
  {
    width: 300px;
  }

  .box-2 ul li .card-1
  {
    width: 300px;
  }

  .box-2 ul li .card-2
  {
    width: 300px;
  }

}
/* ================================================== */

.section-2
{
  background-color: #012F34;
  padding: 140px 0;
  position: relative;
}

.box-3 h2
{
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 50px;
}

.box-3 ul
{
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
  flex-wrap: wrap;
}

.box-3 ul li
{
  margin: 30px;
  transition: all 0.4s ease;
}

.box-3 ul li:hover
{
  transform: scale(1.2);
}


.bgr4
{
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width:425px)
{
  .section-2
  {
    padding: 30px 0;
  }

  .box-3 ul
  {
    transform: scale(0.8);
  }

  .box-3 h2
  {
    font-size: 32px;
    line-height: 32px;
  }

  .bgr2
  {
    top: -100px;
  }

  .bgr4
  {
    top: -100px;
    left: -100px;
  }
}

.section-3
{
  background-color: #F67E7E;
  position: relative;
}

.box-4
{
  display: flex;
  padding:76px 0;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box-4 h2
{
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
  margin: 0;
}

.box-4 a
{
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012F34;
  border: 2px solid #012F34;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 5px 25px;
  padding-top: 8px;
  transition: all 0.3s ease;
}

.box-4 a:hover
{
  cursor: pointer;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 24px;
  color: #002529;
  transform: scale(1.1);
}

.box-4 a:active
{
  transform: scale(1);
}

.gr4
{
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width:550px)
{
  .box-4
  {
    text-align: center;
  }

  .box-4 h2
  {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  .box-4 a
  {
    margin-bottom: 10px;
  }
}

footer
{
  background-color: #002529;
}

.box-5
{
  padding: 48px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box-5__left a img
{
  margin-bottom: 25px;
}

.box-5__left ul
{
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.box-5__left ul li
{
  margin-right: 40px;
}

.box-5__left ul li a
{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.3s  ease;
}

.box-5__left ul li a:hover
{
  color: #F67E7E;
}


.box-5__middle span
{
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.box-5__middle
{
  margin-left: 130px;
}

.div1
{
  display: flex;
}

.box-5__right
{
  text-align: end;
}

.box-5__right ul
{
  display: flex;
  list-style-type: none;
  align-items: center;
  padding-left: 0;
  margin: 0;
  margin-left: 150px;
  margin-bottom: 50px;
}

.box-5__right ul li
{
  padding-left: 16px;
}

.facebook:hover
{
  fill: blue;
}

.pinterest:hover
{
  fill: rgb(134, 189, 5);
}

.twitter:hover
{
  fill: rgb(4, 0, 245);
}

.box-5__right span
{
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

@media (max-width:809px)
{
  .div1
  {
    width: 809px;
    display: flex;
    justify-content: space-between;
    margin-right: 0;
  }

  .box-5__right
  {
    display: flex;
    margin-top: 30px;
    width: 809px;
    justify-content: space-between;
  }

  .box-5__right ul
  {
    margin-left: 0;
  }

  .box-5__middle
  {
    margin-left: 0;
    text-align: right;
    margin-right: 0;
  }
}

@media (max-width:450px)
{
  .box-5
  {
    text-align: center;
  }

  .box-5__left
  {
    display: block;
  }

  .box-5__left ul li
  {
    margin-left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .box-5__middle
  {
    margin-top: 20px;
    text-align: center;
  }

  .box-5__right
  {
    display: block;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .box-5__right ul
  {
    margin-bottom: 20px;
  }

  .box-5__right ul li
  {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    
  }

  .div1
  {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}